### Object Oriented Programming in Python

In [1]:
# Instance variable and methods

class Dog:
    def __init__(self,name,age):
        self.name= name
        self.age = age

dog1 = Dog("Tommy",12)
print(dog1)

<__main__.Dog object at 0x00000273AFBAAEA0>

In [2]:
print(dog1.name)
print(dog1.age)

Tommy
12

In [3]:
# Definiing a class with instance methods

class Car:
    def __init__(self,model,year):
        self.model = model
        self.year = year

    def driving(self):
        print(f"{self.model} is driving since {self.year}")

In [4]:
car1 = Car("indica",2012)

In [5]:
car1.driving()

indica is driving since 2012

In [13]:
#Modelling a bank account

class BankAccount:
    def __init__(self,username,balance=0):
        self.balance = balance
        self.username = username
    
    def withdraw(self,amount):
        if self.balance>=amount:
            self.balance -= amount
            print(f"{self.username} withdrew {amount} rupees from the bank")
        else:
            print("Insufficient funds!")
    
    def show_balance(self):
        print(f"Rs.{self.balance}")

    def deposit(self,amount):
        self.balance += amount
        print(f"{self.username} deposited {amount} rupees from the bank")

In [7]:
user1 = BankAccount(1500,"Avinash")

In [8]:
user1.show_balance()

Rs.1500

In [9]:
user1.withdraw(200)

Avinash withdrew 200rupees from the bank

In [10]:
user1.show_balance()

Rs.1300

In [14]:
user2 = BankAccount("vivek",2500)

In [15]:
user2.deposit(2750)

vivek deposited 2750 rupees from the bank

In [16]:
user2.show_balance()

Rs.5250

In [18]:
user2.withdraw(5000)

vivek withdrew 5000 rupees from the bank

In [19]:
user2.show_balance()

Rs.250